body {
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #3a3e3b;

}

.navbar-shader {
    --display-value: none;
    --blur-value: 0px;

    width: 100%;
    height: 100vh;
    position: fixed;
    display: var(--display-value);
    backdrop-filter: blur(var(--blur-value));
    transition: backdrop-filter 0.2s ease;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    background-color: #ad7e56;
    box-shadow: 0 0 20px 12px rgba(0, 0, 0, 0.6);
    position: fixed;
    --top-value: 30%;
    top: var(--top-value);
    --height-value: 50px;
    height: var(--height-value);
    left: 0;
    min-width: 500px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, top 0.4s ease-in-out, height 1s cubic-bezier(0.25, 1, 0.1, 1);
    z-index: 1;
}

.navbar-container:hover + .navbar-shader {
    --blur-value: 10px;
}

.navbar-container:not(:hover) {
    transform: translateX(calc(-100% + 40px));
}

.navbar-container:hover{
    --top-value: 0;
    height: 100vh;
    opacity: 1;
    transform: translateX(0%);
}

.navbar-container ul{
    list-style: none;
    margin: 0;
    padding: 0%;
    justify-content: center;
}

.navbar-container:not(:hover) ul {
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.1s ease;
    display: none;
}

.navbar-container:hover ul {
    overflow: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
    display: visible;
}

.navbar-container li{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    text-align: justify;
}

.navbar-button-container{
    padding-left: 10px;
    padding-right: 5px;
}

.navbar-button-container:hover{
    border-radius: 25px;
    background-color: rgba(43, 43, 43, 0.3);
    transform: translate(10px);
    transition: transform 0.1s ease-in;

}

.navbar-button-container:not(:hover){
    transform: translate(0);
    transition: transform 0.1s ease-out;
}

a{
    text-decoration: none;
    font-weight: 800;
    font-size: 33px;
    color: white;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 80vh;
    align-items: center;
    padding-bottom: 15%;
}

.home-page-title{
    top: 12%;
    left: 10%;
    right: 10%;
    position: fixed;
    font-size: 1000%;
    font-weight: 1000;
    text-align: center;;
    color: rgb(23, 26, 24);
}

.parallax-bcgrnd {
    background-image: url('parallax_effect_bcgrnd.png');
    background-size: cover;
    background-position: center;
    position: fixed;
    filter: blur(1px);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    transform: scale(1.2);
    background-color: rgb(213, 214, 212);
}

.parallax-frgrnd {
    background-image: url('parallax_effect_frgrnd.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section1-bg-col-blackolive{
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.3);
}

.section1-bg-col-blackolive,
.section2-bg-col-bonewhite{
    text-align: center;
    width: 100%;
    height: fit-content;
}

.section1-bg-col-blackolive{
    background-color: #3a3e3b;
    padding-bottom: 10%;
    padding-top: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section2-bg-col-bonewhite{
    background-color: rgb(240, 239, 244);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.6);
    width: 80%;
    border-radius: 25px;
    margin-bottom: 10rem;
}

.main-title{
    display: flex;
    justify-content: center;
    margin-top: 30%;
    margin-bottom: 30%;
    font-size: 90px;
    font-weight: 1000;
    color: white;
    text-align-last: center;
    text-shadow: -6px -2px rgb(0, 0, 0, 0.5);
}

.story-container{
    width: fit-content;
    padding-left: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: x-large;
    font-weight: 1000;
}

.story-content{
    margin: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.content{
    text-align: justify;
    text-align-last: center;
    padding-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0;
}

.side-by-side{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    align-items: center;
}

.side-by-side img{
    width: 20rem;
}